.box {
  flex: border-box;
}
.button {
  background-color: #ee782b;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  border: 0;
}

.icon {
  width: 25px;
  margin-right: 5px;
  background-color: transparent;
}

.border {
  height: 1px;
  width: 100%;
  background-color: #fff;
}
