@import "~bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 93.02%;
  letter-spacing: -0.025em;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
h4 {
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
}
body {
  background-color: black;
  color: white;
}
